@model PaginatedList<MovieCatalog.Model.Models.Film>

@{
    ViewData["Title"] = "Главная";
}

<h1>Каталог Топ-10 фильмов</h1>

<hr />

<main role="main">
    <div class="row mb-2">

        @foreach (var film in Model)
        {
            <div class="col-md-6">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h5 class="mb-0">@film.Title</h5>
                        <div class="mb-1 text-muted">Режиссер: @film.Director</div>
                        <div class="mb-1 text-muted">@film.RelaseDate.Year</div>
                        <p class="card-text mb-auto">@film.Description</p>
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@film.ID" class="stretched-link">Подробнее</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img src="~/img/@film.PosterPath" class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    </div>
                </div>
            </div>
        }
    </div>
</main>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Назад
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Далее
</a>
